estimate-workiz-match-workflow.json
{
  "name": "Estimate Form - Workiz Job Matcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "all_workiz_jobs",
        "returnAll": true,
        "filterType": "string",
        "filterString": "or=(job_type.eq.Moving,job_type.eq.Moving WT)"
      },
      "id": "fetch_workiz_jobs",
      "name": "Fetch Workiz Moving Jobs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 200],
      "credentials": {
        "supabaseApi": {
          "id": "top_shelf_supabase",
          "name": "Top Shelf Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "move_quote",
        "returnAll": true
      },
      "id": "fetch_estimate_forms",
      "name": "Fetch Estimate Forms",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "top_shelf_supabase",
          "name": "Top Shelf Supabase"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge_data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Match estimate forms to Workiz jobs by phone number and address\n\n// Helper: normalize phone number (strip non-digits)\nconst normalizePhone = (phone) => {\n  if (!phone) return '';\n  return String(phone).replace(/\\D/g, '');\n};\n\n// Helper: normalize address (fuzzy matching)\nconst normalizeAddress = (address) => {\n  if (!address) return '';\n  \n  let normalized = address.toLowerCase();\n  \n  // Remove punctuation\n  normalized = normalized.replace(/[.,#]/g, '');\n  \n  // Expand directional abbreviations\n  const directions = {\n    ' n ': ' north ', ' s ': ' south ', ' e ': ' east ', ' w ': ' west ',\n    ' ne ': ' northeast ', ' nw ': ' northwest ', ' se ': ' southeast ', ' sw ': ' southwest ',\n  };\n  for (const [abbr, full] of Object.entries(directions)) {\n    normalized = normalized.replace(new RegExp(abbr, 'g'), full);\n  }\n  // Handle directions at start\n  if (normalized.startsWith('n ')) normalized = 'north ' + normalized.slice(2);\n  if (normalized.startsWith('s ')) normalized = 'south ' + normalized.slice(2);\n  if (normalized.startsWith('e ')) normalized = 'east ' + normalized.slice(2);\n  if (normalized.startsWith('w ')) normalized = 'west ' + normalized.slice(2);\n  \n  // Expand street type abbreviations\n  const streetTypes = {\n    ' st$': ' street', ' st ': ' street ',\n    ' ave$': ' avenue', ' ave ': ' avenue ',\n    ' blvd$': ' boulevard', ' blvd ': ' boulevard ',\n    ' dr$': ' drive', ' dr ': ' drive ',\n    ' ln$': ' lane', ' ln ': ' lane ',\n    ' rd$': ' road', ' rd ': ' road ',\n    ' ct$': ' court', ' ct ': ' court ',\n    ' cir$': ' circle', ' cir ': ' circle ',\n    ' pl$': ' place', ' pl ': ' place ',\n    ' pkwy$': ' parkway', ' pkwy ': ' parkway ',\n    ' hwy$': ' highway', ' hwy ': ' highway ',\n    ' trl$': ' trail', ' trl ': ' trail ',\n    ' apt ': ' apartment ', ' ste ': ' suite ',\n  };\n  for (const [abbr, full] of Object.entries(streetTypes)) {\n    normalized = normalized.replace(new RegExp(abbr, 'g'), full);\n  }\n  \n  // Normalize whitespace\n  normalized = normalized.replace(/\\s+/g, ' ').trim();\n  \n  return normalized;\n};\n\n// Separate Workiz jobs and estimate forms from merged input\nconst workizJobs = [];\nconst estimateForms = [];\n\nfor (const item of items) {\n  if (item.json.serial_id && item.json.job_type) {\n    workizJobs.push(item.json);\n  } else if (item.json.id && (item.json.form_data || item.json.phone_number)) {\n    estimateForms.push(item.json);\n  }\n}\n\nconsole.log(`[Matcher] Found ${workizJobs.length} Workiz jobs and ${estimateForms.length} estimate forms`);\n\n// Build phone and address maps for Workiz jobs\nconst workizPhoneMap = new Map();\nconst workizAddressMap = new Map();\n\nfor (const wj of workizJobs) {\n  const normalizedPhone = normalizePhone(wj.phone);\n  if (normalizedPhone) {\n    const existing = workizPhoneMap.get(normalizedPhone) || [];\n    existing.push(wj);\n    workizPhoneMap.set(normalizedPhone, existing);\n  }\n  \n  const normalizedAddr = normalizeAddress(wj.address);\n  if (normalizedAddr) {\n    const existing = workizAddressMap.get(normalizedAddr) || [];\n    existing.push(wj);\n    workizAddressMap.set(normalizedAddr, existing);\n  }\n}\n\n// Find matches and prepare updates\nconst updates = [];\n\nfor (const form of estimateForms) {\n  const formData = form.form_data || {};\n  \n  // Collect all phone numbers from the form\n  const formPhones = [];\n  if (form.phone_number) formPhones.push(normalizePhone(form.phone_number));\n  if (formData.phone) formPhones.push(normalizePhone(formData.phone));\n  if (Array.isArray(formData.phones)) {\n    for (const p of formData.phones) {\n      if (p && p.number) formPhones.push(normalizePhone(p.number));\n    }\n  }\n  \n  const uniquePhones = [...new Set(formPhones)].filter(p => p.length > 0);\n  const formAddress = normalizeAddress(formData.pickupAddress || form.address || form.customer_home_address);\n  \n  // Find matching Workiz jobs\n  const matchingJobs = [];\n  \n  for (const phone of uniquePhones) {\n    const jobs = workizPhoneMap.get(phone) || [];\n    for (const wj of jobs) {\n      if (!matchingJobs.find(j => j.serial_id === wj.serial_id)) {\n        matchingJobs.push(wj);\n      }\n    }\n  }\n  \n  if (formAddress) {\n    const jobs = workizAddressMap.get(formAddress) || [];\n    for (const wj of jobs) {\n      if (!matchingJobs.find(j => j.serial_id === wj.serial_id)) {\n        matchingJobs.push(wj);\n      }\n    }\n  }\n  \n  if (matchingJobs.length > 0) {\n    // Create comma-separated job numbers\n    const jobNumbers = matchingJobs.map(j => String(j.serial_id)).join(',');\n    \n    // Only update if job_number has changed\n    const currentJobNumber = form.job_number || '';\n    if (currentJobNumber !== jobNumbers) {\n      updates.push({\n        id: form.id,\n        job_number: jobNumbers,\n        matchCount: matchingJobs.length\n      });\n      console.log(`[Matcher] Form ${form.id}: ${currentJobNumber || '(none)'} -> ${jobNumbers}`);\n    }\n  }\n}\n\nconsole.log(`[Matcher] ${updates.length} forms need job_number updates`);\n\nif (updates.length === 0) {\n  return [{ json: { noUpdates: true, message: 'No updates needed' } }];\n}\n\nreturn updates.map(u => ({ json: u }));"
      },
      "id": "match_forms_to_jobs",
      "name": "Match Forms to Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_updates",
              "leftValue": "={{ $json.noUpdates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_has_updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "move_quote",
        "matchingColumns": ["id"],
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_number": "={{ $json.job_number }}"
          }
        }
      },
      "id": "update_job_numbers",
      "name": "Update Job Numbers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "supabaseApi": {
          "id": "top_shelf_supabase",
          "name": "Top Shelf Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const count = items.length;\nconsole.log(`[Matcher] Successfully updated ${count} estimate forms with Workiz job numbers`);\n\nreturn [{\n  json: {\n    success: true,\n    updated_count: count,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "log_summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "console.log('[Matcher] No updates needed - all forms already matched');\nreturn [{ json: { message: 'No updates needed', timestamp: new Date().toISOString() } }];"
      },
      "id": "no_updates",
      "name": "No Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Workiz Moving Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Estimate Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workiz Moving Jobs": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Estimate Forms": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Match Forms to Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Forms to Jobs": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Update Job Numbers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Numbers": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "America/Denver"
  },
  "active": false
}
