workiz-job-locations-workflow.json
{
  "name": "Workiz Job Locations Sync - Simplified",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get today's date in MST timezone\nconst mstDate = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Denver' }));\nconst today = mstDate.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    today: today\n  }\n}];"
      },
      "id": "get_today_date",
      "name": "Get Today's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-f6p1r7lh0-eric-1619s-projects.vercel.app/api/cleanup-old-jobs",
        "options": {}
      },
      "id": "cleanup_old_jobs",
      "name": "Cleanup Old Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.workiz.com/api/v1/api_c3o9qvf0tpw86oqmkygifxjmadj3uvcw/job/all/",
        "options": {}
      },
      "id": "fetch_workiz_jobs",
      "name": "Fetch Workiz Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the jobs array from Workiz response\nconst workizData = items[0].json;\nconst jobs = workizData.data || [];\n\n// Convert to n8n items format\nreturn jobs.map(job => ({\n  json: job\n}));"
      },
      "id": "extract_jobs_array",
      "name": "Extract Jobs Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get today's date in MST\nconst now = new Date();\nconst mstDateString = now.toLocaleString('en-US', { \n  timeZone: 'America/Denver',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n});\nconst [month, day, year] = mstDateString.split(/[\\/, ]+/).filter(x => x);\nconst today = `${year}-${month.padStart(2,'0')}-${day.padStart(2,'0')}`;\n\nconsole.log('Today (MST):', today);\n\n// Filter jobs for today\nconst filtered = items.filter(item => {\n  const job = item.json;\n  \n  if (!job.SerialId) return false;\n  \n  // Get date from StartDate or JobDateTime\n  let jobDateStr = job.StartDate || job.JobDateTime;\n  if (!jobDateStr) return false;\n  \n  // Extract date part\n  let jobDate;\n  if (jobDateStr.includes('T')) {\n    // ISO format\n    jobDate = jobDateStr.split('T')[0];\n  } else {\n    // SQL format\n    jobDate = jobDateStr.split(' ')[0];\n  }\n  \n  return jobDate === today;\n});\n\nconsole.log('Filtered:', filtered.length, 'of', items.length, 'jobs');\nreturn filtered;"
      },
      "id": "filter_today_jobs",
      "name": "Filter Today's Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job_number",
              "name": "job_number",
              "value": "={{ String($json.SerialId) }}",
              "type": "string"
            },
            {
              "id": "job_type",
              "name": "job_type",
              "value": "={{ $json.JobType || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "job_start_time",
              "name": "job_start_time",
              "value": "={{ $json.JobDateTime }}",
              "type": "string"
            },
            {
              "id": "job_description",
              "name": "job_description",
              "value": "={{ $json.JobNotes || $json.Comments || '' }}",
              "type": "string"
            },
            {
              "id": "customer_name",
              "name": "customer_name",
              "value": "={{ ($json.FirstName || '') + ' ' + ($json.LastName || '') }}",
              "type": "string"
            },
            {
              "id": "customer_phone",
              "name": "customer_phone",
              "value": "={{ $json.Phone || $json.SecondPhone || '' }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "address",
              "value": "={{ ($json.Address || '') + ', ' + ($json.City || '') + ', ' + ($json.State || '') + ' ' + ($json.PostalCode || '') }}",
              "type": "string"
            },
            {
              "id": "latitude",
              "name": "latitude",
              "value": "={{ $json.Latitude }}",
              "type": "number"
            },
            {
              "id": "longitude",
              "name": "longitude",
              "value": "={{ $json.Longitude }}",
              "type": "number"
            },
            {
              "id": "scheduled_date",
              "name": "scheduled_date",
              "value": "={{ $json.StartDate ? $json.StartDate.split(' ')[0] : $json.JobDateTime.split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "workiz_job_id",
              "name": "workiz_job_id",
              "value": "={{ $json.UUID || String($json.ClientId) }}",
              "type": "string"
            },
            {
              "id": "last_synced_at",
              "name": "last_synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare_job_data",
      "name": "Prepare Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse start time without timezone conversion\nreturn items.map(item => {\n  const job = item.json;\n  let startTime = job.job_start_time;\n  \n  // Just extract time portion as-is\n  if (startTime) {\n    // If ISO format: 2016-08-29T09:12:33.001Z -> keep as is\n    // If SQL format: 2016-08-29 09:12:33 -> convert to ISO with offset\n    if (startTime.includes('T')) {\n      // Already ISO format, leave as is\n    } else if (startTime.includes(' ')) {\n      // SQL format - add T and MST offset\n      startTime = startTime.replace(' ', 'T') + '-07:00';\n    }\n  }\n  \n  return {\n    json: {\n      ...job,\n      job_start_time: startTime\n    }\n  };\n});"
      },
      "id": "parse_start_time",
      "name": "Parse Start Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "job_locations",
        "options": {
          "onConflict": "job_number"
        }
      },
      "id": "upsert_to_supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "top_shelf_supabase",
          "name": "Top Shelf Supabase"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Date": {
      "main": [
        [
          {
            "node": "Cleanup Old Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Old Jobs": {
      "main": [
        [
          {
            "node": "Fetch Workiz Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workiz Jobs": {
      "main": [
        [
          {
            "node": "Extract Jobs Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Jobs Array": {
      "main": [
        [
          {
            "node": "Filter Today's Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Jobs": {
      "main": [
        [
          {
            "node": "Prepare Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Data": {
      "main": [
        [
          {
            "node": "Parse Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Start Time": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "America/Denver"
  },
  "active": false
}
