workiz-job-locations-workflow.json
{
  "name": "Workiz Job Locations Sync - With Reconciliation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get today's date in MST timezone\nconst mstDate = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Denver' }));\nconst today = mstDate.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    today: today\n  }\n}];"
      },
      "id": "get_today_date",
      "name": "Get Today's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-app-six-blush.vercel.app/api/cleanup-old-jobs",
        "options": {}
      },
      "id": "cleanup_old_jobs",
      "name": "Cleanup Old Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.workiz.com/api/v1/api_c3o9qvf0tpw86oqmkygifxjmadj3uvcw/job/all/",
        "options": {}
      },
      "id": "fetch_workiz_jobs",
      "name": "Fetch Workiz Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the jobs array from Workiz response\nconst workizData = items[0].json;\nconst jobs = workizData.data || [];\n\n// Convert to n8n items format\nreturn jobs.map(job => ({\n  json: job\n}));"
      },
      "id": "extract_jobs_array",
      "name": "Extract Jobs Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get today's date in MST\nconst now = new Date();\nconst mstDateString = now.toLocaleString('en-US', { \n  timeZone: 'America/Denver',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n});\nconst [month, day, year] = mstDateString.split(/[\\/, ]+/).filter(x => x);\nconst today = `${year}-${month.padStart(2,'0')}-${day.padStart(2,'0')}`;\n\nconsole.log('Today (MST):', today);\n\n// Filter jobs for today with status 'Submitted'\nconst filtered = items.filter(item => {\n  const job = item.json;\n  \n  if (!job.SerialId) return false;\n  \n  // Only include jobs with status 'Submitted'\n  if (job.Status !== 'Submitted') return false;\n  \n  // Get date from StartDate or JobDateTime\n  let jobDateStr = job.StartDate || job.JobDateTime;\n  if (!jobDateStr) return false;\n  \n  // Extract date part\n  let jobDate;\n  if (jobDateStr.includes('T')) {\n    // ISO format\n    jobDate = jobDateStr.split('T')[0];\n  } else {\n    // SQL format\n    jobDate = jobDateStr.split(' ')[0];\n  }\n  \n  return jobDate === today;\n});\n\nconsole.log('Filtered:', filtered.length, 'of', items.length, 'jobs');\n\n// Store the job numbers for reconciliation (in a static variable accessible later)\n// We'll pass this through via a special first item\nconst jobNumbers = filtered.map(item => String(item.json.SerialId));\n\n// If no jobs found, return a marker item for reconciliation\nif (filtered.length === 0) {\n  return [{\n    json: {\n      _noJobsMarker: true,\n      _jobNumbers: jobNumbers\n    }\n  }];\n}\n\n// Add job numbers to first item for later reconciliation\nif (filtered.length > 0) {\n  filtered[0].json._jobNumbers = jobNumbers;\n}\n\nreturn filtered;"
      },
      "id": "filter_today_jobs",
      "name": "Filter Today's Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._noJobsMarker }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check_no_jobs",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job_number",
              "name": "job_number",
              "value": "={{ String($json.SerialId) }}",
              "type": "string"
            },
            {
              "id": "job_type",
              "name": "job_type",
              "value": "={{ $json.JobType || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "job_start_time",
              "name": "job_start_time",
              "value": "={{ $json.JobDateTime }}",
              "type": "string"
            },
            {
              "id": "job_description",
              "name": "job_description",
              "value": "={{ $json.JobNotes || $json.Comments || '' }}",
              "type": "string"
            },
            {
              "id": "customer_name",
              "name": "customer_name",
              "value": "={{ ($json.FirstName || '') + ' ' + ($json.LastName || '') }}",
              "type": "string"
            },
            {
              "id": "customer_phone",
              "name": "customer_phone",
              "value": "={{ $json.Phone || $json.SecondPhone || '' }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "address",
              "value": "={{ ($json.Address || '') + ', ' + ($json.City || '') + ', ' + ($json.State || '') + ' ' + ($json.PostalCode || '') }}",
              "type": "string"
            },
            {
              "id": "latitude",
              "name": "latitude",
              "value": "={{ $json.Latitude }}",
              "type": "number"
            },
            {
              "id": "longitude",
              "name": "longitude",
              "value": "={{ $json.Longitude }}",
              "type": "number"
            },
            {
              "id": "scheduled_date",
              "name": "scheduled_date",
              "value": "={{ $json.StartDate ? $json.StartDate.split(' ')[0] : $json.JobDateTime.split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "workiz_job_id",
              "name": "workiz_job_id",
              "value": "={{ $json.UUID || String($json.ClientId) }}",
              "type": "string"
            },
            {
              "id": "job_status",
              "name": "job_status",
              "value": "={{ $json.Status || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "last_synced_at",
              "name": "last_synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "include": "selected",
        "includeFields": "_jobNumbers",
        "options": {}
      },
      "id": "prepare_job_data",
      "name": "Prepare Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse start time without timezone conversion\nreturn items.map(item => {\n  const job = item.json;\n  let startTime = job.job_start_time;\n  \n  // Just extract time portion as-is\n  if (startTime) {\n    // If ISO format: 2016-08-29T09:12:33.001Z -> keep as is\n    // If SQL format: 2016-08-29 09:12:33 -> convert to ISO with offset\n    if (startTime.includes('T')) {\n      // Already ISO format, leave as is\n    } else if (startTime.includes(' ')) {\n      // SQL format - add T and MST offset\n      startTime = startTime.replace(' ', 'T') + '-07:00';\n    }\n  }\n  \n  return {\n    json: {\n      ...job,\n      job_start_time: startTime\n    }\n  };\n});"
      },
      "id": "parse_start_time",
      "name": "Parse Start Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract job numbers for reconciliation before upserting\n// Store in workflow static data for use after upsert\nconst jobNumbers = items[0]?.json?._jobNumbers || [];\n\n// Store for later use\n$getWorkflowStaticData('global').jobNumbersForReconcile = jobNumbers;\n\n// Remove the _jobNumbers field from items before upserting\nreturn items.map(item => {\n  const { _jobNumbers, ...rest } = item.json;\n  return { json: rest };\n});"
      },
      "id": "store_job_numbers",
      "name": "Store Job Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jvflufcpcxlsnszlvolj.supabase.co/rest/v1/job_locations?on_conflict=job_number",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2Zmx1ZmNwY3hsc25zemx2b2xqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNDY5MzIsImV4cCI6MjA3ODkyMjkzMn0.UrDJLRPrMCG4LYDiXccHu6o-FYVaCBiASzQe1RqwWZg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2Zmx1ZmNwY3hsc25zemx2b2xqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNDY5MzIsImV4cCI6MjA3ODkyMjkzMn0.UrDJLRPrMCG4LYDiXccHu6o-FYVaCBiASzQe1RqwWZg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "upsert_to_supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get stored job numbers for reconciliation\nconst jobNumbers = $getWorkflowStaticData('global').jobNumbersForReconcile || [];\n\nreturn [{\n  json: {\n    job_numbers: jobNumbers\n  }\n}];"
      },
      "id": "get_job_numbers_for_reconcile",
      "name": "Get Job Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-app-six-blush.vercel.app/api/reconcile-job-locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "reconcile_jobs",
      "name": "Reconcile Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// No jobs for today - just return empty array for reconciliation\nconst jobNumbers = $json._jobNumbers || [];\n\nreturn [{\n  json: {\n    job_numbers: jobNumbers\n  }\n}];"
      },
      "id": "prepare_empty_reconcile",
      "name": "Prepare Empty Reconcile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-app-six-blush.vercel.app/api/reconcile-job-locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "reconcile_no_jobs",
      "name": "Reconcile (No Jobs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Date": {
      "main": [
        [
          {
            "node": "Cleanup Old Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Old Jobs": {
      "main": [
        [
          {
            "node": "Fetch Workiz Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workiz Jobs": {
      "main": [
        [
          {
            "node": "Extract Jobs Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Jobs Array": {
      "main": [
        [
          {
            "node": "Filter Today's Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Jobs": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Prepare Empty Reconcile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Data": {
      "main": [
        [
          {
            "node": "Parse Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Start Time": {
      "main": [
        [
          {
            "node": "Store Job Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job Numbers": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Get Job Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Numbers": {
      "main": [
        [
          {
            "node": "Reconcile Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Empty Reconcile": {
      "main": [
        [
          {
            "node": "Reconcile (No Jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "America/Denver"
  },
  "active": false
}
